* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(19, 145, 145);
  line-height: 1.6;
  width: 100%;
  /* display: flex;*/
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  place-content: center;
}

.greeting {
  width: 100%;
  padding: 40px;
  display: flex;
  place-content: center;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.text-display {
  position: relative;
  font-weight: bold;
}

.btn {
  color: rgb(12, 11, 11);
  border: 0;
  border-radius: 18px;
  color: rgb(7, 7, 7);
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.delete {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.item {
  text-align: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.inputbox {
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 2%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  border-radius: 15px;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type="text"] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 15px;
  outline: none;
  margin-bottom: 10px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  text-decoration: none;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}